.DS_Store
**/*.DS_Store

**/*.o
**/*.a
**/*.so
**/*.dSYM/*

bin/*

lib/parser/parse.output

spec/c-unit/bricks/string_spec
spec/c-unit/bricks/array_spec
spec/c-unit/bricks/list_spec
spec/c-unit/bricks/json_gen_spec
spec/c-unit/bricks/hash_map_spec
spec/c-unit/bricks/number_spec

spec/c-unit/spec.log
spec/c-unit/parser/bit_spec
spec/c-unit/parser/expression_spec
spec/c-unit/parser/lex_spec
spec/c-unit/parser/parser_spec

spec/c-unit/interpreter/expression_key_spec
spec/c-unit/interpreter/class_spec
spec/c-unit/interpreter/object_spec
spec/c-unit/interpreter/interpreter_spec
spec/c-unit/interpreter/expression_eval_spec
